.trainer-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 0 150px 0 150px;
  border: solid 2px rgb(112, 1, 1);
}
@media (min-width: 1023px) {
  .trainer-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .certified-trainer-card {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 600px) {
  .certified-trainer-card {
    width: 95%;
  }
}
/* mobile */
@media (max-width: 600px) {
  .certified-trainer-card {
    width: 85%;
  }
}

/* search container */
#search-trainer-container {
  height: 100px;
}

#search-trainer-container > button,
#search-trainer-container > input {
  height: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-trainer-container > input:focus {
  outline: none;
}
#search-trainer-container > input {
  border: solid 1.5px rgb(220, 209, 209);
}
#search-trainer-container > button {
  background-color: rgb(185, 27, 27);
  color: aliceblue;
}
