:root {
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
  --spacing-6: 6rem;
  --spacing-7: 7rem;
  --spacing-8: 8rem;
  --spacing-9: 9rem;
  --spacing-10: 10rem;
}

@media (min-width: 1023px) {
  /* margin top */
  .mt-lg-6 {
    margin-top: var(--spacing-6);
  }
  .mt-lg-7 {
    margin-top: var(--spacing-7);
  }
  .mt-lg-8 {
    margin-top: var(--spacing-8);
  }
  .mt-lg-9 {
    margin-top: var(--spacing-9);
  }

  .mt-lg-10 {
    margin-top: var(--spacing-10);
  }

  /* margin bottom */
  .mb-lg-6 {
    margin-top: var(--spacing-6);
  }
  .mb-lg-7 {
    margin-top: var(--spacing-7);
  }
  .mb-lg-8 {
    margin-top: var(--spacing-8);
  }
  .mb-lg-9 {
    margin-top: var(--spacing-9);
  }

  .mb-lg-10 {
    margin-top: var(--spacing-10);
  }
}

@media (min-width: 768px) {
  /* width */
  .w-md-50 {
    width: 50% !important;
  }
}

/* form controll */

.form-control:focus {
  border-color: #f00;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}

/* custom underline for navigation */
.custom-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* for buttons when hovering */
.scale-btn-hover {
  display: inline-block;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.scale-btn-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
