

.single-class-content {
  width: 100%;
  background-color: rgb(196, 24, 24);
}

.single-class-image {
  width: 100%;
}

/* for medium devices */
@media(min-width:600px){
  
}

/* Only apply on large screens */
@media (min-width: 972px) {
  
    .single-class-image{
        height: 500px;
    }
    .single-class-image>img {
     width: 66%;
     height: 470px;
     object-fit: cover;
     display: flex;
     justify-content: center;
     align-items: center;
    
   }
  .single-class-cards {
    position: relative;
    display: flex; /* side-by-side layout */
    height: 400px;
    width:90%;
  }

  /* Cross lines */
  .single-class-cards::before,
  .single-class-cards::after {
    content: "";
    position: absolute;
    background: rgb(233, 154, 154);
  }

  /* Vertical line */
  .single-class-cards::before {
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  /* Horizontal line */
  .single-class-cards::after {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /* Side-by-side content */
  .single-class-content {
    width: 60%;
  }

  .single-class-image {
    width: 40%;
  }
}

/* on desktop screens */
@media(min-width:1400px){
  .single-class-cards {
    width:77%;
  }
   .single-class-content {
    width: 60%;
  }

  .single-class-image {
    width: 40%;
  }
}