.join-us-container{
    height: 50vh;
}

.why-join-us-container{
    background-color: #D9D9D9;
}

@media(min-width:600px){
.join-us-container{
    height: 60vh;
}
}

@media(min-width:802px){
  .join-us-container{
    height: 70vh;
}
}

@media(min-width:1400px){
   .join-us-container{
    height: 70vh;
}
}