#header-container-v2 {
  background: linear-gradient(
    to bottom,
    rgb(87, 4, 4) 0%,
    rgba(150, 7, 7, 0.8) 70%,
    rgba(224, 15, 15, 0) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* buttons, Nav, Text */
#login-button {
  background-color: E84444 !important;
  transition: transform 0.3s ease-in-out;
}
#login-button:hover {
  transform: scale(1.05);
}

/* Base styles for hidden nav (mobile/smaller screens) */
.nav-hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  flex-direction: column; /* stacked vertically on small screens */
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  position: fixed;
  background-color: black;
  top: 0;
}

#header-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(224, 15, 15, 0) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Shown state on small screens */
.nav-hidden.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  height: 100vh;
}
.bg-leniar {
  background: linear-gradient(
    to top,
    rgb(87, 4, 4) 0%,
    rgba(150, 7, 7, 0.8) 70%,
    rgba(224, 15, 15, 0) 100%
  );
}
/* On large screens (lg and up), make it always visible and in a row */

@media (min-width: 1024px) {
  #header-container {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 70%,
      rgba(224, 15, 15, 0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  #header-container-v2 {
    background: linear-gradient(
      to bottom,
      rgb(87, 4, 4) 0%,
      rgba(150, 7, 7, 0.8) 70%,
      rgba(224, 15, 15, 0) 100%
    );
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-hidden {
    opacity: 1;
    transform: none;
    pointer-events: auto;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* or center */
    align-items: center;
    background-color: transparent;
    transition: none; /* disable animation on large screens */
    z-index: 999999999 !important;
  }

  .nav-hidden.show {
    /* Prevent overriding styles */
    opacity: 1;
    transform: none;
    height: auto;
    z-index: 9999999 !important;
  }

  .nav-hidden a {
    transition:
      transform 0.3s ease,
      font-size 0.3s ease;
    display: inline-block; /* needed for transform to work properly */
  }

  .nav-hidden a:hover {
    transform: scale(1.1);
  }
}
