.cert-hero-section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}
.certifications-main {
  position: relative;
}
.certifications-main::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(205, 27, 27), transparent);
  z-index: 1;
}

@media (min-width: 600px) {
  .cert-hero-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
  }
}
