#module-card {
  width: 350px;
  height: 250px;
}
.module-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .module-card {
    width: 100%;
    height: auto;
  }
  .module-thumbnail {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
}

@media (max-width: 1023.8px) {
}
